:root {
  --color-primary: #3f3d56;
  --color-highlight: #ee24ff;
  --color-text-light: #828282;
  --color-background-soft: #eceff2;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary);
  background-color: var(--color-text-light);
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}