:root {
  --color-primary: #3f3d56;
  --color-highlight: #ee24ff;
  --color-text-light: #828282;
  --color-background-soft: #eceff2;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary);
  background-color: var(--color-text-light);
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  place-content: end center;
  place-items: center;
  min-height: 100vh;
  width: min(1024px, 100vw);
  /* width: 100%; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-content: end center;
  place-items: center;
  min-height: 100vh;
}
